/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.primary{
    color:#00264d;
}
.secondary{
  color:#8cc3cb;
}

::-webkit-scrollbar {
    width: 0px; /* Width of the vertical scrollbar */
    /* height: 8px; */
  }

  .active-page{
    position: relative;
  }
  .active-page::before{
    position: absolute;
    left: -10px;
    content: "";
    width: 5px;
    height: 15px;
    background-color: #36a1d6;
  }